h1 {
    color: lightblue;
}
.rating {
    background-color: rgba(200, 200, 200, 0.5);
    &:nth-child(1) {
        background-color: rgba(226, 250, 11, 0.603);
    }
    &:nth-child(2) {
        background-color: rgba(11, 234, 250, 0.61);
    }
    &:nth-child(3) {
        background-color: rgba(250, 11, 11, 0.527);
    }
}